{% extends "base.html" %}
{% load static %}
{% block content %}

    <div style="width: 60%;height: max-content;border-radius: 20px; margin: auto;padding: 30px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">

            <div class="col-md-5" style="padding: 2%;text-align: center">
                <h3 style="text-shadow: 2px 2px 6px #000000;"><i>CERTIFICATION</i></h3>
                <p>{{ collection_item.info|linebreaks }}</p>


                <div class="row" style="margin-top: 30px;">

                </div>


            </div>

            <div id="demo" class="carousel slide col-md-7" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">

                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    {% if collection_item.photo1 %}
                        <li data-target="#demo" data-slide-to="1"></li>
                    {% endif %}
                    {% if collection_item.photo2 %}
                        <li data-target="#demo" data-slide-to="2"></li>
                    {% endif %}
                    {% if collection_item.photo3 %}
                        <li data-target="#demo" data-slide-to="3"></li>
                    {% endif %}
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="img-magnifier-container ">
                        <div class="carousel-item active">
                            <img id="myimage" src="{{ collection_item.poster.url }}" alt="Los Angeles" width="100%"
                                 height="500">
                        </div>
                        {% if collection_item.photo1 %}
                            <div class="carousel-item">
                                <img id="myimage" src="{{ collection_item.photo1.url }}" alt="Chicago" width="100%"
                                     height="500">
                            </div>
                        {% endif %}
                        {% if collection_item.photo2 %}
                            <div class="carousel-item">
                                <img id="myimage" src="{{ collection_item.photo2.url }}" alt="Chicago" width="100%"
                                     height="500">
                            </div>
                        {% endif %}
                        {% if collection_item.photo2 %}
                            <div class="carousel-item">
                                <img id="myimage" src="{{ collection_item.photo2.url }}" alt="New York" width="100%"
                                     height="500">
                            </div>
                        {% endif %}
                        {% if collection_item.photo3 %}
                            <div class="carousel-item">
                                <img id="myimage" src="{{ collection_item.photo3.url }}" alt="New York" width="100%"
                                     height="500">
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

        </div>

    </div>

{% endblock %}

{% block custom_js %}
    <script>

        magnify("myimage", 3);

    </script>
{% endblock custom_js %}