{% extends "base.html" %}
{% load static %}
{% block content %}

    <div id="here">
        <div class="row">

            <div class="col-md-5" style="padding: 2%;" >
                <h3 style="text-shadow: 2px 2px 6px #000000;"><i>{{ event_item.title }}</i></h3>
                <p>{{ event_item.info|linebreaks }}</p>


                <div class="row" style="margin-top: 30px;">

                </div>


            </div>
            <div class="col-md-7" style="float: right;float: right">

                    <video  style="float: right" class="col-md-12 " height="400px;" controls id="wze410-video_html5_api" class="vjs-tech"
                           preload="metadata"
                           poster={{ event_item.poster.url }}
                                   tabindex="-1">
                        <source src="{{ event_item.video_src }}"
                                type="video/mp4">
                    </video>



                {% if less %}
                    <div class="row" style="justify-content: center;margin-top: 20px;">
                        {% for item in photolist %}
                            <img src="{{ item.url }}" onclick="show_modal(this.src)" class="col-md-2" height="100px;" style="margin-bottom: 10px;margin-top: 10px;">
                        {% endfor %}
                    </div>
                {% endif %}


            </div>


        </div>
        {% if many%}
            <div class="row" style="justify-content: center;margin-top: 20px;">
                {% for item in photolist %}
                    <img id="myImg" src="{{ item.url }}" onclick="show_modal(this.src)" class="col-md-2" height="130px;" style="margin-bottom: 10px;margin-top: 10px;">
                {% endfor %}
            </div>
        {% endif %}
    <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>

    </div>

    </div>
     <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
         function show_modal(_src) {
            modal.style.display = "block";
            modalImg.src = _src;

        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>

{% endblock %}

