{% extends "base.html" %}
{% load static %}
{% block content %}



    <div class="row" style="alignment: center;margin-top: 50px;">
        <div class="col-md-1"></div>
        <div id="here" class="card-body col-md-4" style="padding: 5px;background: #343A40 ; border-radius: 2px;min-height: 500px;">

            <div class="row">
                <h4 class="card-title row1" style="text-shadow: 1px 2px 2px lightslategrey; padding:10px;color: white;">
                    {% if movie %}
                    <i class="fas fa-video"
                       style=" padding-bottom:10px;color:#FEC028;font-size:50px; padding:15px;"> </i>
                    {% endif %}
                    {%  if music_video %}
                        <i class="fas fa-music"
                       style=" padding-bottom:10px;color:#FEC028;font-size:50px; padding:15px;"> </i>
                    {% endif %}
                    {{ studio_item.title }}</h4>
            </div>

            <p class="card-text" style="color: white">{{ studio_item.running_time }} | {{ studio_item.genre }}</p>

            <img src="{{ studio_item.poster.url }}" width="100%" alt="Card image">
        </div>

        <div id="detail_info" class="col-md-6" >
            <ul class="nav nav-tabs" role="tablist" style="background: #f4f4f4">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Info"
                       style="font-size: large;color: #343A40;"><b>Info</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#cast" style="font-size: large;color: #343A40;"><b>Cast
                        and Crew</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#thrailer"
                       style="font-size: large;color: #343A40;"><b>Thrailer</b></a>
                </li>
                {% if studio_photo_list %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#photoes" style="font-size: large;color: #343A40;">
                            <b>Photoes</b></a>
                    </li>

                {% endif %}
                {% if studio_item.nomination or studio_item.award %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#awards" style="font-size: large;color: #343A40;">
                            <b>Awards</b>
                            <i style="color:#FEC028;font-size: large  " class="fas fa-trophy"></i></a>
                    </li>
                {% endif %}

            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="background:white; min-height: 500px; padding: 20px;">
                <div id="Info" class="container tab-pane ">

                    <p>{{ studio_item.info|linebreaks }}</p>

                    <table class="table table-striped">

                        <tbody>
                        {% for infotable in myInfoTable %}
                            <tr>
                                <td><b>{{ infotable.0 }}:</b></td>
                                <td> {{ infotable.1 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="cast" class="container tab-pane fade"><br>
                    {% for mycrew in myCrew %}
                        <p><strong>{{ mycrew.0 }}:</strong> {{ mycrew.1 }}</p>

                    {% endfor %}
                </div>
                <div id="photoes" class="container tab-pane fade"><br>
                    <h3 style="text-shadow: 0 0 3px grey;"><i>Gallery:</i></h3><br>
                    <div class="row">
                        <div class="gallery"><div class="row">
                            {% for photo in studio_photo_list %}

                                <img id="myImg" src="{{ photo.photo.url }}"  onclick="show_modal(this.src)" class="col-md-3" height="100px;  "
                                     style="margin-bottom: 10px;">

                            {% endfor %}
                        </div>



                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>


                        </div>

                    </div>
                </div>
                <div id="thrailer" class="container tab-pane active"><br>
                    <video class="col-md-12 " height="400px;" controls id="wze410-video_html5_api" class="vjs-tech"
                           preload="metadata"
                           poster={{ studio_item.poster.url }}
                                   tabindex="-1">
                        <source src="{{ studio_item.thrailer_src }}"
                                type="video/mp4">
                    </video>
                    <p> {{ studio_item.thrailer_text|linebreaks }}</p>

                </div>

                <div id="awards" class="container tab-pane fade">
                    {% if studio_item.nomination %}
                        <h4>Nominations:</h4>
                        {% for nomination in myNomination %}
                            <a href="{{ nomination.1 }}">{{ nomination.0 }}</a><br>
                        {% endfor %}
                    {% endif %}
                    {% if studio_item.award %}
                        <h4>Awards:</h4>
                        {% for award in myAward %}
                            <a href="{{ award.1 }}">{{ award.0 }}</a><br>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>

    </div>


    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
         function show_modal(_src) {
            modal.style.display = "block";
            modalImg.src = _src;

        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>

{% endblock %}